
        body {
            margin: 0px;
            width: 100%;
            font-family: 'Roboto', Helvetica, Arial, Lucida, sans-serif;
            background-color: #fff;
        }
        h1 {
            text-align: center;
            padding-top: 50px;
            text-transform: uppercase;
            font-size: 48px;
            font-family: 'Roboto', Helvetica, Arial, Lucida, sans-serif;
            line-height: 1.3em;
            color: #333;
            padding-bottom: 10px;
            font-weight: 500;
        }
        h3 {
            text-align: center;
            font-size: 25px;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: .5px;
            margin-bottom: 35px;
            color: #292d34;
            padding: 1px;
        }
        p {
            text-align: center;
            font-family: 'Roboto', Helvetica, Arial, Lucida, sans-serif;
            font-size: 25px;
            color: #666;
            font-weight: 500;
            margin: 0;
            padding-top: 0;
            padding-bottom: 15px;
            border: 0;
            outline: 0;
        }
        label {
            font-size: 15px;
            font-weight: 500;
            line-height: 1.4;
            letter-spacing: .2px;
            color: #292d34;
            display: block;
            margin-bottom: 5px;
            display: none;
        }
        #BoxBotao {
            margin: auto;
            width: 80%;
        }
        /*formatação das bordas do botão Solicitar contato*/
        button {
            background-color: #fbbb12;
            color: black;
            font-weight: 700 !important;
            width: 100%;
            height: 35px;
            color: #383838 !important;
            border-width: 0px !important;
            
            border-radius: 10px 5px 5px;
            margin-left: auto;
            margin-right: auto;
            font-size: 24px;
        }
    
        input {
            width: 100%;
            padding: 0 1rem 0 .75rem;
            border-radius: 10px 5px 5px 5px;
            border: 1px solid rgb(224, 218, 218);
            letter-spacing: .2px;
            line-height: 1.5;
            padding: 15px;
            outline: none;
            margin: 8px 0;
        }
    
        .container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    
        /*Bloco de formatação do layout do formulário e campos */
        form {
            border: 8px;
            color: rgb(252, 247, 247);
            padding: 0px 55px;
            margin: 0 auto 30px;
            width: 100%;
            min-width: auto;
            max-width: 550px;
        }